<div class="absolute inset-0 flex flex-col min-w-0 overflow-hidden">

    <mat-drawer-container
        class="flex-auto h-full bg-card dark:bg-transparent"
        (backdropClick)="onBackdropClicked()">

        <!-- Drawer -->
        <mat-drawer
            class="w-full md:w-160 dark:bg-gray-900"
            [mode]="drawerMode"
            [opened]="false"
            [position]="'end'"
            [disableClose]="true"
            #matDrawer>
            <router-outlet></router-outlet>
        </mat-drawer>

        <mat-drawer-content class="flex flex-col">

            <!-- Main -->
            <div class="flex-auto">

                <!-- Header -->
                <div class="flex flex-col sm:flex-row md:flex-col flex-auto justify-between py-8 px-6 md:px-8 border-b">

                    <!-- Title -->
                    <div>
                        <div class="text-4xl font-extrabold tracking-tight leading-none">Bookings</div>
                        <div class="ml-0.5 font-medium text-secondary">
                            <ng-container *ngIf="bookingsCount > 0">
                                {{bookingsCount}}
                            </ng-container>
                            {{bookingsCount | i18nPlural: {
                            '=0'   : 'No bookings',
                            '=1'   : 'booking',
                            'other': 'bookings'
                        } }}
                        </div>
                    </div>

                    <!-- Main actions -->
                    <div class="flex items-center mt-4 sm:mt-0 md:mt-4">
                        <!-- Search -->
                        <div class="flex-auto">
                            <mat-form-field
                                class="fuse-mat-dense fuse-mat-rounded w-full min-w-50"
                                subscriptSizing="dynamic">
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:search'"></mat-icon>
                                <input
                                    matInput
                                    [formControl]="searchInputControl"
                                    [autocomplete]="'off'"
                                    [placeholder]="'Search bookings'">
                            </mat-form-field>
                        </div>
                        <!-- Add booking button -->
                        <button
                            class="ml-4"
                            mat-flat-button
                            [color]="'primary'"
                            (click)="createBooking()">
                            <mat-icon [svgIcon]="'heroicons_outline:plus'"></mat-icon>
                            <span class="ml-2 mr-1">Add</span>
                        </button>
                    </div>
                </div>

                <!-- Bookings list -->
                <div class="relative">
                    <ng-container *ngIf="bookings$ | async as bookings">
                        <ng-container *ngIf="bookings.length; else noBookings">
                            <ng-container *ngFor="let booking of bookings; let i = index; trackBy: trackByFn">
                                <!-- Group -->
                                <ng-container *ngIf="i === 0 || booking.dateFrom.slice(0,10) !== bookings[i - 1].dateFrom.slice(0,10)">
                                    <div class="z-10 sticky top-0 -mt-px px-6 py-1 md:px-8 border-t border-b font-medium uppercase text-secondary bg-gray-50 dark:bg-gray-900">
                                        {{booking.dateFrom | date:'short'}}
                                    </div>
                                    <div class="grid grid-cols-4 gap-4 pl-4 mt-2">
                                        <div class="w-1/4"><b>Persons</b></div>
                                        <div ><b>Pickup from</b></div>
                                        <div ><b>Going to</b></div>
                                        <div ><b>Pickup time</b></div>
                                </div>          
                                </ng-container>
                                <!-- Booking -->
                                <a
                                    class="z-20  cursor-pointer border-b"
                                    [ngClass]="{'hover:bg-gray-100 dark:hover:bg-hover': !selectedBooking || selectedBooking.id !== booking.id,
                                                'bg-primary-50 dark:bg-hover': selectedBooking && selectedBooking.id === booking.id}"
                                    [routerLink]="['./', booking.id]">
                                    <div class="grid grid-cols-4 gap-4 pl-4  mt-2 py-2 border-t ">
                                            <div >Adults: <b>{{booking.adults || 0}}</b>, Children: <b>{{booking.children || 0}}</b></div>
                                            <div >{{getLocationName(booking.from)}}</div>
                                            <div >{{getLocationName(booking.to)}}</div>
                                            <div >{{booking.dateFrom | date:'shortTime'}}</div>
                                    </div>                                
                                </a>
                            </ng-container>
                        </ng-container>
                    </ng-container>

                    <!-- No bookings -->
                    <ng-template #noBookings>
                        <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">There are no bookings!</div>
                    </ng-template>

                </div>

            </div>

        </mat-drawer-content>

    </mat-drawer-container>

</div>
